<header class="background-img alpha-bg hero-unit" id="banner">
  <div class="container text-center">
    <h1>
      <input class="no-border" ng-model="$city" ng-change="getData()" placeholder="Cityname...">
      <i class="reload-btn fa fa-refresh" ng-click="refreshing()"></i>
    </h1>
  </div>
</header>

<div class="hero-unit">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="alpha-bg list-group text-left">
          <li ng-repeat="place in places track by $index" class="alpha-bg list-group-item">
            <span class="helper"></span>
            <img src="{{place.venue.featuredPhotos.items[0].prefix + 'original' + place.venue.featuredPhotos.items[0].suffix}}"
                 class="img-nl img-thumbnail">
            <div class="p-nl">
              <h3>{{place.venue.name}}
                <a ng-click="goingBar(place.venue.id)">
                  <button class="border-button alpha-bg">{{going[place.venue.id]}} going</button>
                </a>
              </h3>
              <p>{{place.tips[0].text}}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
